@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgba(0, 0, 0, 0.87);
  --background: white;

  --pre-angle-bracket: #0D00F4;
  --pre-component: #33718D;
  --pre-param: #D32A0F;
  --pre-equal: #000;
  --pre-curly-bracket: #3E8832;
  --pre-prop: #1A167E;
  --pre-constructor: #0000F9;
  --pre-class: #6B5626;
  --pre-paranthesis: #6A3517;

  --new-line-with-tab: "\A  ";
  --new-line: "\A";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: #192324;

    --pre-angle-bracket: #FFD504;
    --pre-component: #4EC9B0;
    --pre-param: #9CDCFE;
    --pre-equal: #D4D4D4;
    --pre-curly-bracket: #DA70D6;
    --pre-prop: #9CDCFE;
    --pre-constructor: #569CD6;
    --pre-class: #DCDCAA;
    --pre-paranthesis: #169FFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}



pre .angle-bracket {
  color: var(--pre-angle-bracket);
}
pre .component {
  color: var(--pre-component);
}
pre .param {
  color: var(--pre-param);
}
pre .equal {
  color: var(--pre-equal);
}
pre .prop {
  color: var(--pre-prop);
}
pre .curly-bracket {
  color: var(--pre-curly-bracket);
}
pre .constructor {
  color: var(--pre-constructor);
}
pre .class {
  color: var(--pre-class);
}
pre .paranthesis {
  color: var(--pre-paranthesis);
}
pre .space-or-indent {
  @apply before:content-[--new-line-with-tab] md:before:content-['_']
}
pre .space {
  @apply before:content-[--new-line] md:before:content-['_']
}
